# --extra-index-url https://www.piwheels.org/simple
# --extra-index-url https://pypi.org/simple
-i https://pypi.org/simple
# adafruit-io
--no-binary :all: grpcio
google-assistant-grpc
google-assistant-sdk[samples]
google-auth-oauthlib[tool]
googleapis-common-protos
paho-mqtt
gTTS
AudioSegment
ffmpeg
# pocketsphinx
